/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(232, 233, 234);

  .mat-accent .mat-slider-track-fill {
    background-color: rgb(192, 192, 192) !important;
  }
  .mat-slider-thumb {
    background-color: black !important;
  }

  .mat-slider-thumb-label {
    background-color: black !important;
  }
}
button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.15em);
}
