<div class="form-wrapper">
  <mat-card class="form-card">
    <div class="alternative-values">
      <h2 class="alternative-values-title">
        Now, let's proceed and give values to each alternative:
      </h2>

      <div *ngFor="let criteria of decisionCriteria; let i = index">
        <div class="alternatives-by-criteria-comparison">
          <h4>
            Regarding the criteria <strong>{{ criteria }}</strong
            >, compare the alternatives
          </h4>
        </div>
        <div class="alternatives-wrapper">
          <div class="alternative-classification">
            <div class="first-column">
              <div
                class="first-column-alternative"
                *ngFor="
                  let firstAlternative of firstColumnAlternativesArray;
                  let j = index
                "
              >
                <ul>
                  {{
                    firstAlternative
                  }}
                </ul>

                <ul>
                  {{
                    firstColumnAlternativesCriteriaValuesArray[
                      i * firstColumnAlternativesArray.length + j
                    ]
                  }}
                </ul>

                <mat-slider
                  class="alternative-mat-slider"
                  [attr.id]="j"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="1"
                  min="1"
                  max="9"
                  value="5"
                  (input)="changeAlternativeValue($event, i, j)"
                ></mat-slider>
                <br />
              </div>
            </div>
            <div class="second-column-alternative">
              <ul
                *ngFor="
                  let secondAlternative of secondColumnAlternativesArray;
                  let j = index
                "
              >
                {{
                  secondColumnAlternativesCriteriaValuesArray[
                    i * secondColumnAlternativesArray.length + j
                  ]
                }}
                {{
                  secondAlternative
                }}
              </ul>
            </div>
          </div>

          <ng-container>
            <div class="alternativesConsistencyRatio">
              <h4>
                Consistency Ratio:
                <span
                  [style.color]="
                    alternativesConsistencyRatio[i] > 0.1 ? 'red' : null
                  "
                  >{{
                    alternativesConsistencyRatio[i] | number : "1.0-4"
                  }}</span
                >
              </h4>
            </div>
          </ng-container>

          <table class="alternatives-matrix">
            <tr>
              <th></th>
              <th *ngFor="let alternative of decisionAlternatives">
                {{ alternative }}
              </th>
            </tr>
            <tr *ngFor="let alternative of decisionAlternatives; let j = index">
              <th>{{ alternative }}</th>
              <td
                *ngFor="let alternative of decisionAlternatives; let k = index"
              >
                {{ alternativesMatrixToShow[i][j][k] }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <a [routerLink]="'/home'" routerLinkActive="active">
        <button mat-raised-button class="submit-button" (click)="onSubmit()">
          Submit
        </button>
      </a>
    </div>
    <div class="final-results">
      <ng-container *ngIf="formIsSubmited">
        <ngx-charts-bar-vertical
          [results]="finalResultsChartData"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
        >
        </ngx-charts-bar-vertical>
      </ng-container>
    </div>
  </mat-card>
</div>
