<div class="admin-page-wrapper">
  <mat-card class="all-decisions-card">
    <div class="new-decision-button">
      <a [routerLink]="'/decision-component'" routerLinkActive="active"
        ><button mat-raised-button>Start new decision</button></a
      >
    </div>

    <h1>All decisions:</h1>

    <div class="mat-expansion-wrapper">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let decision of allDecisions; let i = index"
          (opened)="open(i)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><strong>{{ decision.goal }}</strong></mat-panel-title
            >
            <!-- <mat-panel-description> {{Currently I am}} </mat-panel-description> -->
          </mat-expansion-panel-header>
          <div class="mat-expansion-body">
            <div class="participants">
              <h5><strong>Participants:</strong></h5>
              <p *ngFor="let participant of decisionsParticipants[i]">
                {{ participant }}
              </p>
            </div>

            <div class="participants">
              <h5><strong>Category:</strong></h5>
              <p>{{ decision.category }}</p>
            </div>

            <div class="participants">
              <h5><strong>Criteria:</strong></h5>
              <p *ngFor="let criteria of decisionsCriteria[i]">
                {{ criteria }}
              </p>
            </div>

            <div class="participants">
              <h5><strong>Alternatives:</strong></h5>
              <p *ngFor="let alternative of decisionsAlternatives[i]">
                {{ alternative }}
              </p>
            </div>

            <div class="participants">
              <h5><strong>Done:</strong></h5>
              <p>{{ decision.done.data[0] === 1 ? "Yes" : "No" }}</p>
            </div>

            <ng-container *ngIf="chartDataArray[i].length">
              <div class="participants">
                <h5><strong>Final result:</strong></h5>
                <ng-container>
                  <ngx-charts-bar-vertical
                    [view]="[450, 200]"
                    [results]="chartDataArray[i]"
                    [gradient]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="false"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                  >
                  </ngx-charts-bar-vertical>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>
