.header {
  background-color: rgb(50, 47, 43);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
}

.right-header {
  color: rgb(255, 255, 255);
  font-size: medium;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.right-header p {
  margin: 0;
}
