<div class="wecolme-page-wrapper">
  <h1>Welcome!</h1>

  <div class="buttons">
    <div class="admin-button">
      <button
        class="criteria-matrix-btn"
        mat-raised-button
        type="button"
        (click)="isAdmin(true, 0)"
        routerLink="/admin-home-page-component"
        routerLinkActive="active"
      >
        Admin
      </button>
    </div>

    <div class="users-buttons" *ngFor="let user of users">
      <button
        class="criteria-matrix-btn"
        mat-raised-button
        type="button"
        (click)="isAdmin(false, user)"
        routerLink="/user-home-page-component"
      >
        {{ user.username }}
      </button>
    </div>
  </div>
</div>
