.mat-dialog {
  width: 40vw;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
