<div class="form-wrapper">
  <mat-card class="form-card">
    <h2 class="alternatives-values-title">
      Now, let's proceed and give values to each alternative:
    </h2>
    <div class="alternatives-classification">
      <div class="first-column">
        <div
          class="first-column-alternative"
          *ngFor="let firstAlternative of firstColumnAlternativesArray"
        >
          <ul>
            {{
              firstAlternative
            }}
          </ul>
          <mat-slider class="alternatives-mat-slider">
            <input matSliderThumb />
          </mat-slider>
        </div>
      </div>
      <div class="second-column-alternative">
        <ul *ngFor="let secondAlternative of secondColumnAlternativesArray">
          {{
            secondAlternative
          }}
        </ul>
      </div>
    </div>
  </mat-card>
</div>
