.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .form-card {
    width: 80%;
    padding: 40px;
    margin-bottom: 40px;
  }

  .criteria-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    .criteria-matrix {
      width: 40%;
      margin-bottom: 20px;
      border-collapse: collapse;
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 2px;
      }

      table {
        font-family: arial, sans-serif;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    }

    .criteria-matrix-btn {
      font-size: smaller;
      background-color: rgb(50, 47, 43);
      color: white;
    }
  }

  .criteria-values-title,
  .alternative-values-title {
    padding-bottom: 40px;
  }

  .alternatives-by-criteria-comparison {
    margin: 0px 10px;
  }

  .criteria-classification,
  .alternative-classification {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;

    ul {
      padding: 0;
    }

    .first-column-criteria,
    .first-column-alternative {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 40px;
      height: 70px;

      .criteria-mat-slider,
      .alternative-mat-slider {
        width: 40vw;
      }
    }

    .second-column-criteria,
    .second-column-alternative {
      ul {
        height: 56px;
      }
    }
  }
}
