.participants-table {
  margin: 30px;

  table {
    width: 100%;
  }

  th {
    background-color: rgb(50, 47, 43);
    color: white;
    text-align: center;
    font-size: 22px;
  }

  tr {
    text-align: center;
  }
}
