<h3 class="undoneDecisions">Por fazer:</h3>
<ng-container *ngFor="let decisionToShow of decisionsToShow; let i = index">
  <div *ngIf="userDecisions[i].done.data[0] === 0">
    <div (click)="goToDecision(decisionsToShow[i].id)">
      {{ decisionToShow.name }}
    </div>
    <!-- <pre>{{ userDecisions[i].done | json }}</pre> -->
  </div>
</ng-container>

<h3 class="doneDecisions">Já feitas:</h3>
<ng-container *ngFor="let decisionToShow of decisionsToShow; let i = index">
  <div *ngIf="userDecisions[i].done.data[0] === 1">
    <div (click)="goToDecision(decisionsToShow[i].id)">
      {{ decisionToShow.name }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="decisionsToShow.length === 0">
  <h3>No decisions to show</h3>
</ng-container>
